<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Python" path="*.Py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\python.exe %s %s" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
